doctype html
html
  head
  body
    canvas#canvas_main(width="400", height="400" style="border: 1px solid black")

    // Calling script at the end removes the need for onload...
    // All elements are loaded at this point
    script(type="text/javascript", src="/js/jsgradient.js")
    script(type="text/javascript", src="/js/fire.js")
