doctype html
html
  head
  body
    canvas#canvas_fire(width="100", height="50" style="height: 400px; width: 400px; border: 1px solid black")
    canvas#canvas_water(width="100", height="50" style="height: 400px; width: 400px; border: 1px solid black")
    canvas#canvas_grass(width="100", height="50" style="height: 400px; width: 400px; border: 1px solid black")

    // Calling script at the end removes the need for onload...
    // All elements are loaded at this point
    script(type="text/javascript", src="/js/jsgradient.js")
    script(type="text/javascript", src="/js/fire.js")
